.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

button#resetButton {
    margin-bottom: 10px;
    /* border: solid 1px aliceblue; ; */
    font-family: 'Courier New', Courier, monospace;
    color: rgb(81, 81, 190);
}